<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add a Certification</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form #f="ngForm">
          <div class="form-group">
            <label for="name">Name of Certification *</label>
            <input 
              required
              [(ngModel)] = "certification && certification.name"
              #name="ngModel"
              name="name" type="text" class="form-control">
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">Name of certification is required</div>
          </div>

          <div class="form-group">
            <label for="ID">I.D.</label>
            <input
            [(ngModel)] = "certification && certification.id"        
              #id="ngModel"
              name="id" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="link">Link</label>
            <input 
              [(ngModel)] = "certification && certification.link"        
              #link="ngModel"
              url
              name="link" type="text" class="form-control">
              <div class="alert alert-danger" *ngIf="link.touched && link.invalid">Link should be a valid URL</div>
          </div>

            <input name="key" type="hidden" [(ngModel)] = "certification && certification.key" >

            <button [disabled]="!f.valid" (click)="submit(f); modal.close('Close click')"  class="btn btn-primary">Save</button>
        </form>
    
      </div>
    </ng-template>
    
  <button (click)=displayForm(content) class="btn btn-primary">Add a skill</button>

  
  <hr>

  <div class="row">
      <div class="col-sm-4" *ngFor="let cert of certifications$ | async">
          <app-certification-card 
            [certification]="cert" 
            (deleteSelectedCert)="deleteSelectedCertification($event)"
            (selectedCertification)="displayCertification($event,content)"></app-certification-card>
      </div>
    </div>
  