<div class="row ">
  <div class="col-sm-12 text-center"><h1>Get in touch with me</h1></div>
</div>
<div class="bg-secondary">
  <div class="container text-white">
      <div class="row">
          <div class="col-sm-6">
              <p> <i class="fa fa-phone"></i> Phone: {{ contacts.phone }}</p>
              <p> <i class="fa fa-envelope"></i> Email: {{ contacts.email }} </p>
            </div>
            <div class="col-sm-6 social-media">
              <a *ngFor="let s of contacts.socialAccounts" href="{{ s.url }}" target="_blank" class="fa {{ s.faIcon }}"></a>
            </div>
          <hr>
      </div>
  </div>
</div>