/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import "~ng-snotify/styles/material.css";

.social-media .fa {
    padding: 10px;
    font-size: 15px;
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    background: #000;
  }
  
  .social-media .fa:hover {
      opacity: 0.7;
  }
  
  .contact-info {
      padding-top: 30px;
  }

  .container {
      padding: 20px 10px;
  }