<div class="container">
  <div class="jumbotron text-center">
  </div>


  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Profile">
      <ng-template ngbPanelContent>
        <app-profile-form [profile]="publicDetails['profile']"></app-profile-form>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Personal Detail</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <app-personal-details-form [personalDetails]="publicDetails['personal-details']"></app-personal-details-form>
        </ng-template>
      </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Contact</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-contact-list-form [myContacts]="publicDetails['contacts']"></app-contact-list-form>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Work Experience">
      <ng-template ngbPanelContent>
        <app-work-experience></app-work-experience>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Personal Projects</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-personal-project-form ></app-personal-project-form>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Skills</span>
        </ng-template>
        <ng-template ngbPanelContent>

            <app-skills-form></app-skills-form>

        </ng-template>
      </ngb-panel>

      <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Certifications</span>
          </ng-template>
          <ng-template ngbPanelContent>
  
              <app-certification-form></app-certification-form>
  
          </ng-template>
        </ngb-panel>

        <ngb-panel>
            <ng-template ngbPanelTitle>
              <span>Education</span>
            </ng-template>
            <ng-template ngbPanelContent>
    
                <app-education-form></app-education-form>
    
            </ng-template>
          </ngb-panel>
        
  </ngb-accordion>

</div>