.content-parent {
    max-height: 400px;
    padding-bottom: 10px;
    overflow: hidden;
    width: 100%;
    padding-left: 10px;
    color: #000;
    text-align: left;
}

.content-child {
    height: 350px;
    margin-right: -50px;
    padding-right: 50px;
    overflow-y: scroll;
}


