<div class="container-fluid" *ngIf="publicDetails['personal-details']">
  <div class="jumbotron text-center">
    <h1 class="display-3">Hello!</h1>
    <h2 class="display-5">I'm {{publicDetails['personal-details'].firstName}}</h2>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about-me"  role="button">About me</a>
    </p>
  </div>
  <app-contacts [contacts]="publicDetails['contacts']"></app-contacts>
</div>