<div *ngIf="publicDetails['personal-details']">
  <!-- Header -->
  <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Hi, I'm {{ publicDetails['personal-details'].firstName }}</h1>
        <h3 class="mb-5">
          A Web Developer
          <hr>
        </h3>
        <p>This is my personal site and project using <strong>HTML, CSS, Bootstrap, Angular 6 (TypeScript and the Object Oriented Programming Paradigm) </strong> 
          for the front end and <strong>firebase</strong> for the back end. You are <strong>free</strong> to log in as a guest
          and see the <strong>admin</strong> functions which contains the various <strong>CRUD operations</strong>.
        </p>
      </div>
      <div class="overlay"></div>
    </header>

  <app-public-profile [profile] = "publicDetails['profile']"></app-public-profile>

  <app-public-work-experience [experience] = "publicDetails['work-experience']"></app-public-work-experience>

  <app-public-personal-projects [projects] = "publicDetails['personal-projects']"></app-public-personal-projects>

  <app-public-education [educationList] = "publicDetails['educationList']"></app-public-education>

  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <app-public-skills [skills]="publicDetails['skills']"></app-public-skills>
        </div>
        <div class="col-sm-6">
          <app-public-certification [certifications]="publicDetails['certifications']" ></app-public-certification>
        </div>
      </div>
    </div>
  </section>

  <app-public-contact [contacts]="publicDetails['contacts']"></app-public-contact>
</div>
