/* .containers{
    max-width: 1000px;
    height: 150px;
    overflow: hidden;
}

.rows {
    overflow-x: scroll;
    overflow-y: hide;
	-webkit-overflow-scrolling:touch;
}

.card {
    margin: 10px;
} */

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

.card {
    flex: 0 0 auto;
    margin: 10px;
}

-webkit-scrollbar {
    display: none;
}